*   {margin: 0;box-sizing: border-box;padding: 0;}
body{ font-family: helvetica, arial; font-size: 16px; color: #333;}

p, h1, h2, li, a {
    color: white;
    text-shadow: 1px 1px 4px black;
}
h1 {
    font-size: xx-large;
}
h2 {
    font-size: 15px;
}

.header{
    background-image: url('../img/background.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100vh;
    width: 100%;
}


@media screen and (max-width: 600px) {
    .header    {
        background-size: auto;
        height: 100vh;
        width: 100%;
    }
}

.container-topo {
    padding: 25px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.menu {
    float: right;
}

.menu>a {
    color: white;
    text-decoration: none;
    padding: 10px;
}

.menu>a:hover {
    color: #cccccc;
}

.info {    
    padding: 40px 40px;
    width: 100%;
    height: 75vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


.icons {
    text-align: right !important;
}

.row {
    display: flex;
    width: 100%;
}

.col-4 {
    width: 33%;
}

.col-3 {
    width: 25%;
}

@media screen and (max-width: 600px) {
    .row {
        flex-direction: column !important;
    }
    .col-4 {
        width: 100% !important;
    }
    .col-3 {
        width: 100% !important;
    }
}

.arrow {
    height: 50px;
    width: 50px;
}

.social-media>div {
    text-align: center;
    padding: 20px;
}

.social-media>div>a>img {
    height: 30px;
    width: 30px;
}



.social-media>div>a>img:hover {
    color: #cccccc;
}

.conteudo {
    padding: 30px;
    background-color: black;
    height: 100vh;
}


.reposTable {
    color: white;
    padding: 20px;
   /* border: 1px solid white;*/
    border-radius: 50px;
}

.reposTable>tr>td{
    padding: 10px;
}
@media screen and (max-width: 600px) {
    .reposTable {
        font-size: 12px;
    }
     .description{
        display: none;
    }
}


.reposTable>tr>td>a{
    font-weight: 900;
    text-decoration: none;
}
.projectsSection {
    margin-top: 50px;
}

.resumeSection {
    padding: 75px;
}

.resumeSection>div>div>h2 {
    margin-bottom: 20px;
}

footer>div {
    text-align: center;
    background-color: #990000;
}


/*
.repos {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.repos>div>p>a {
    padding: 5px;
    text-decoration: none;
    background-color: white;
    text-shadow: none;
    color: black;
    border-radius: 10px;
    right: 1vw;
    position: absolute;
}

*/
